# 全ファイルを一度無視
/*
# さらにdotfileを無視
/.*

# 無視したくないファイルを![filename]で指定
!/setup.sh
!/.zsh_aliases
!/.zsh_profile
!/.zshrc
!/zsh_tools
!/.vimrc
#!/.vim
!/.bashrc
!/.gemrc
!/.rvmrc
!/.screenrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/readme.txt
!/.ctags
!/.rspec
!/.tmux.conf

!/.vimperatorrc
/.vimperator

!/tools

# 再び無視
/.vim/.netrwhist

# ServersmanでのNginxのConfigファイル（Unicorn使用）
!/nginx.conf
