# 全ファイルを一度無視
/*
# さらにdotfileを無視
/.*

# 無視したくないファイルを![filename]で指定
!/.zsh_aliases
!/.zsh_profile
!/.zshrc
!/.vimrc
#!/.vim
!/.bashrc
!/.gemrc
!/.rvmrc
!/.screenrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/readme.txt
!/.ctags
!/cheatsheet

!/.vimperatorrc
!/.vimperator
/.vimperator/info

!/tools

# 再び無視
/.vim/.netrwhist

# ServersmanでのNginxのConfigファイル（Unicorn使用）
!/nginx.conf
