[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/neocomplcache.git"]
	path = bundle/neocomplcache.git
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/yanktmp.git"]
	path = bundle/yanktmp.git
	url = git://github.com/vim-scripts/yanktmp.vim.git
[submodule "bundle/matchit.git"]
	path = bundle/matchit.git
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/rails.git"]
	path = bundle/rails.git
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rubytest.git"]
	path = bundle/rubytest.git
	url = git://github.com/janx/vim-rubytest.git
[submodule "bundle/align.git"]
	path = bundle/align.git
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/NERD-Commenter.git"]
	path = bundle/NERD-Commenter.git
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/unite.git"]
	path = bundle/unite.git
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/surround.git"]
	path = bundle/surround.git
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "bundle/project.git"]
	path = bundle/project.git
	url = git://github.com/rickard/project.vim.git
[submodule "bundle/myprojects.git"]
	path = bundle/myprojects.git
	url = git://github.com/vim-scripts/myprojects.git
[submodule "bundle/yankring.git"]
	path = bundle/yankring.git
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "bundle/grep.vim"]
	path = bundle/grep.vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "bundle/vimproc.git"]
	path = bundle/vimproc.git
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vim-quickrun.git"]
	path = bundle/vim-quickrun.git
	url = git://github.com/thinca/vim-quickrun.git
[submodule "bundle/matrix.git"]
	path = bundle/matrix.git
	url = git://github.com/vim-scripts/matrix.vim.git
[submodule "bundle/matrix-yang.git"]
	path = bundle/matrix-yang.git
	url = git://github.com/vim-scripts/matrix.vim--Yang.git
[submodule "bundle/project.vim"]
	path = bundle/project.vim
	url = git://github.com/rickard/project.vim.git
[submodule "bundle/EnhancedCommentify.git"]
	path = bundle/EnhancedCommentify.git
	url = git://github.com/hrp/EnhancedCommentify.git
